* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  background: #00203fff;
  min-height: 100vh;
  padding: 10px;
}


.headers {
  width: 40%;
  color: #00203fff;
  background-color: white;
  margin: 100px auto 30px;
  align-items: center;
  border-radius: 10px;
  padding: 40px 30px 60px
}

.headers h2 {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.add {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  background: lightgrey;
  margin-bottom: 25px;
  border-radius: 30px;
  position: relative;
}

input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px;
  font-weight: 16px;
}

button {
  background-color: #f04a00;
  border: none;
  outline: none;
  color: white;
  padding: 14px 40px;
  border-radius: 40px;
  font-weight: 18px;
  cursor: pointer;
}

ul li {
  position: relative;
  font-weight: 15px;
  padding: 10px 8px 10px 50px;
  list-style: none;
  cursor: pointer;
}

ul li::before {
  content: "";
  position: absolute;
  background-image: url(images/unchecked.png);  
  background-size: cover;
  background-position: center;
  height: 25px;
  width: 25px;
  top: 6px;
  left: 8px;
}

span {
  content: "";
  background-image: url(images/icon.png);
  background-size: cover;
  background-position: center;
  height: 25px;
  width: 25px;
  position: absolute;
  justify-content: space-between;
  cursor: pointer;
}


.checked {
  text-decoration: line-through;
}

.checked::before {
  background-image: url(images/checked.png);
}
